#IdeasAppContainer {
  @include bgGradient;
  min-height: 100%;
  padding: 20px;

  .IdeaItem {
    background: rgba(255,255,255,0.6);
    height: 150px;
    width: 150px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    float: left;
    position: relative;

    .IdeaItem-delete {
      display: none;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

    &:hover {
      background: rgba(255,255,255,0.9);

      .IdeaItem-delete {
        display: block;
      }
    }

    &.IdeaItem-new {
      display: flex;
      align-items: center;
      justify-content: center;

      & > i {
        font-size: 40px;
      }
    }

    .IdeaItem-title,
    .IdeaItem-body {
      display: block;
      width: 100%;
      border: 0;
      background: transparent;

      &:focus {
        outline: 0;
      }
    }

    .IdeaItem-title {
      margin-top: 0;
      font-weight: $fontMedium;
    }

    .IdeaItem-body {
      font-size: $fontSmall;
      line-height: 1.2;
    }
  }
}
