@mixin bgGradient {
  background: #5e7fb1;
  background: -moz-linear-gradient(-45deg, #5e7fb1 0%, #dce8f7 61%, #eff1f4 72%, #fce1a8 88%, #f7ec86 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #5e7fb1), color-stop(61%, #dce8f7), color-stop(72%, #eff1f4), color-stop(88%, #fce1a8), color-stop(100%, #f7ec86));
  background: -webkit-linear-gradient(-45deg, #5e7fb1 0%, #dce8f7 61%, #eff1f4 72%, #fce1a8 88%, #f7ec86 100%);
  background: -o-linear-gradient(-45deg, #5e7fb1 0%, #dce8f7 61%, #eff1f4 72%, #fce1a8 88%, #f7ec86 100%);
  background: -ms-linear-gradient(-45deg, #5e7fb1 0%, #dce8f7 61%, #eff1f4 72%, #fce1a8 88%, #f7ec86 100%);
  background: linear-gradient(135deg, #5e7fb1 0%, #dce8f7 61%, #eff1f4 72%, #fce1a8 88%, #f7ec86 100%);
}
